body {
    background-color: #161b22;
}

.container {
    background-color: #22272e;
    width: 620px;
    height: auto;
    border-radius: 3%;
    text-align: start;
    margin: auto;
    margin-top: 60px;
    padding-bottom: 50px;
}

.header {
    text-align: left;
    padding-top: 30px;
    margin-left: 52px;
}

#lock {
    margin-bottom: 15px;
}

h1 {
    font-family: Karla;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #F9F1F0;
    margin-bottom: 10px;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;    
    color: #F9F1F0;    
    margin-top: 0;
}

a {
    color: #af88db;
    text-decoration: none;
}

a:hover {
    color: #9266c5;
    font-weight: 500;
}

.highlight {
    color: #af88db
}

.password-section {
    display: flex;
    margin-left: 42px;
}

.generate-section {
    margin-top: 23px;
}

#generate-btn {
    width: 200px;
    height: 42px;
    padding: 9px 17px 9px 17px;
    border-radius: 6px;
    background: #af88db;
    box-shadow: 0px 1px 2px 0px #0000000D;
    border: none;
    color: #F9F1F0;
    margin-left: 52px;
    font-family: Karla;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

#generate-btn:hover {
    background: #9266c5;
}

#generate-btn:active { 
    transform: scale(0.99);
}

.password-section-1, .password-section-2 {
    width: 255px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 6px;
    background: #2d333b;
    display: flex;
}

textarea {
    background-color: transparent;
    border: none;
    resize: none;
    overflow: none;
    outline: none;
    height: 28px;
}

#generated-password-1, #generated-password-2 {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    color: #af88db;
    width: 218px;
    text-align: center;
    margin-top: 6px;
}

#copy-btn-1, #copy-btn-2 {
    text-align: center;
    margin-top: 9px;
    border: none;
    background-color: transparent;
    color: #f9f1f07e;
    font-size: 18px;
}

#copy-btn-1:hover, #copy-btn-2:hover {
    color: #af88db;
}

#copy-btn-1:active, #copy-btn-2:active { 
    transform: scale(0.98);
}

::selection {
    color: #F9F1F0;
    background: #af88db;
}

.password-strength-container {
    margin-left: 52px;
    font-family: Karla;
    font-size: 16px;
    font-weight: 300;
    color: #F9F1F0;
    line-height: 10px;
}

.options-section {
    width: 330px;
    height: auto;
    margin-left: 52px;
    margin-top: 20px;
    border-radius: 6px;
    background: #2d333b;
    padding-left: 20px;
    padding-bottom: 20px;
}

.options-section {
    font-family: Karla;
    font-size: 16px;
    font-weight: 300;
    color: #F9F1F0;
    line-height: 30px;
}

#password-length {
    width: 305px;
}

.slider-container {
    padding-top: 15px;
}

#option-1, #option-2, #option-3 {
    display: flex;
    text-indent: 5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    color: #F9F1F0;
    text-align: center;
    font-family: Karla;
    font-size: 14px;
    font-weight: 300;
}

input[type="checkbox"] {
    accent-color: #af88db;
}

input[type="range"] {
    accent-color: #af88db;
}